.masterContainer {
  height: 100vh;
  min-width: 100vw;
  color: white;
  font-family: sans-serif;

  /* padding: 3rem 0; */
  display: grid;
}

.outerContainer {
  width: 100%;
  color: white;
  height: 80%;
  justify-self: center;
  align-self: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
  box-shadow: 0 0 500px 100px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  overflow: hidden;

  /* display: grid; */
}
.wrap {
  width: 100%;
  height: calc(100% - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  margin: 1rem;
  backdrop-filter: blur(20px);
  padding: 1rem 1.5rem;
  width: 95%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.055);
  overflow-y: scroll;
  color: white;

  /* border: 11px solid white; */
  /* border-image: linear-gradient(90deg, purple, orange); */
}

.outerContainer h1 {
  padding: 0.6rem 2rem;
  font-size: 2.5rem;
}

/* project card */

.mainDiv {
  max-width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.216);
  display: flex;
  padding: 1rem;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

.imgDiv {
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px;
  grid-template-areas: "one";
  color: white;
}

.innerImg {
  width: 100%;
  height: 100%;
  grid-area: "one";
  object-fit: contain;
  color: white;
}

.titleContainer {
  width: "fit-content";
  color: white;
}

.discriptionDiv {
  border-left: 6px solid white;
  padding: 0.5rem 0 0.5rem 1rem;
  margin-left: 0.6rem;
  color: white;
}

.descriptionText {
  margin: 0.6rem 0;
}

.descriptionText a {
  color: inherit;
}

/*  */

@media (max-width: 460px) {
  .mainDiv {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    color: white;
  }

  .imgDiv {
    align-self: center;
    color: white;
  }
}
