/* 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

.masterContainer {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* background-image: url("./image/ivan-bandura-_pan-3SEDmI-unsplash.jpg"); */
  background-image: url("./image/isuru-ranasinha-DBdMq9ArT5A-unsplash.jpg");
  background-size: 100%;
  background-attachment: fixed;
  /* background-color: black; */

  object-fit: cover;
}
